@page
@model SeedLibrary.Pages_Seeds.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeedPacket[0].Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeedPacket[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeedPacket[0].Variety)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeedPacket[0].Variety.CommonName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SeedPacket) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Variety.VarietyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Variety.CommonName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SeedId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SeedId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SeedId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
