@page
@model SeedLibrary.Pages.Seeds.IndexModel

@{
    ViewData["Title"] = "Seeds";
}

<h1 style="font-family: 'Lato-Bold'; font-size: 60px">Seed Inventory</h1>
<p>
    <a asp-page="Create">Add New Seeds</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p style="border: 2px solid #8BC441; background-color: #8BC441; padding: 10px;">
            Search Seed Name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="search-btn" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <p><b>Sort By:</b></p>
    <button type="button" class="btn btn-link"> 
        <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
            asp-route-currentFilter="@Model.CurrentFilter">
            @Html.DisplayNameFor(model => model.Seeds[0].Name)
        </a> 
    </button>
    <button type="button" class="btn btn-link">
        <a asp-page="./Index" asp-route-sortOrder="@Model.YearSort" 
            asp-route-currentFilter="@Model.CurrentFilter">
            @Html.DisplayNameFor(model => model.Seeds[0].Year)
        </a> 
    </button>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Seeds[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seeds[0].Variety)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seeds[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seeds[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seeds[0].Count)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Seeds) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Variety)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.Seeds.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Seeds.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Seeds.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Seeds.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>
