@page
@model SeedLibrary.Pages.Order.OrderModel

@{
    ViewData["Title"] = "Order Seeds";
}
     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


<div class="row mb-auto">
    <div class="row  mb-4">
        <h2 style = "border-bottom: 3vh solid #EC373C">Order Seeds</h2>
    <form method="post">
        <div class="container">
            <div class="row">
                @for (int i = 0; i < Model.Seeds.Count; i++)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card bg-light border-danger p-3">
                            <div class="form-check mb-2">
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="SelectedSeeds"
                                    value="@Model.Seeds[i].SeedId" />
                                <label class="form-check-label"></label>
                            </div>
                            <h3>@Model.Seeds[i].Variety.CommonNameName</h3>
                            <p>
                                <b>Variety:</b> @Model.Seeds[i].VarietyName <br />
                                <b>Year:</b> @foreach (var donation in Model.Seeds[i].Donations)
                                    {
                                        <span>@donation.Year </span>
                                    } <br />
                                <b>Date:</b>@foreach (var growing in Model.Seeds[i].Growings)
                                    {
                                        <span>
                                            @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetAbbreviatedMonthName(growing.PlantingDate.StartMonth)
                                            -
                                            @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetAbbreviatedMonthName(growing.PlantingDate.EndMonth)
                                        </span>
                                    }<br />
                                <b>Count:</b> @Model.Seeds[i].Count
                            </p>
                        </div>
                    </div>
                }
            </div>
            <a asp-page="/About" class="btn btn-primary">
                Add to Order
            </a>
        </form>
        @{
            var prevDisabled = !Model.Seeds.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.Seeds.HasNextPage ? "disabled" : "";
        }

        <a asp-page="./Order"
        asp-route-pageIndex="@(Model.Seeds.PageIndex - 1)"
        class="btn btn-primary @prevDisabled">
            Previous
        </a>

        <a asp-page="./Order"
        asp-route-pageIndex="@(Model.Seeds.PageIndex + 1)"
        class="btn btn-primary @nextDisabled">
            Next
        </a>
    </div>
</div>