@page
@using System.Buffers
@model SeedLibrary.Pages.SpotlightSeeds.SpotlightSeedsModel

@{
    ViewData["Title"] = "Seed Spotlight";
}

<link rel="stylesheet" type="text/css" href="css/spotlight.css">

<script>
    const d = new Date();
    let currentmonthindex = d.getMonth();
    months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul" "Aug", "Sep", "Oct", "Nov", "Dec"]
    var currentmonth = months[currentmonthindex]
</script>

<div class="row mb-auto">
    <div class="row  mb-4">
        <div class="col-sm-6">
            <h2>Seed Spotlight</h2>
            <div class="borderedcontainer">
                <div style="overflow-y:scroll; height:450px">
                <!-- TEMPORARY - NEED TO CHANGE TO TAKE ONLY SEED SPOTLIGHT ONCE DATABASE FINALISED -->
                @for (int i = 0; i < Model.Seeds.Count; i++)
                {
                <div class="cardspotlight">
                    <!-- TEMPORARY - NEEDS TO BE SEED IMAGE ONCE ADDED TO THE DATABASE -->
                    <div class="row">
                        <div class = "col-sm-4">
                            <img src="/images/Flower.png" alt="Seed Library" style= "width: 80px; height: 80px" />
                        </div>
                        <div class="col-sm-8">
                            <p>@Model.Seeds[i].Variety @Model.Seeds[i].Name<p>
                            <a asp-page="./Seeds/Details" asp-route-id="@Model.Seeds[i].ID">More Information</a>
                        </div>
                    </div>
                </div>
                }
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h3>In Season Seeds</h3>
            <div class="borderedcontainer" id="inseasonsquare">
                <!-- TEMPORARY - NEED TO TAKE FROM SEED MONTH AUTHOMATICALLY -->
                @for (int i = 0; i < Model.Seeds.Count; i++)
                {
                    var x = Model.Seeds[i].Date;
                    <!-- NEED TO PARSE FOR IN BETWEENS WITH STRING X-Y & Y-Z  (ANNOYING AS ITS A STRING)-->
                    <!--I'll leave for now as may change with complete database-->
                    if (x.Contains("Mar"))
                    {
                        <p>
                            @Model.Seeds[i].Variety @Model.Seeds[i].Name
                        </p>
                    }
                }
            </div>
            <div class="row">
                <p>If you want to get started with your garden this month the seeds above are a good option!</p>
                <p>To see the full variety of seeds in our catalogue, please view our inventory.</p>
                <button type="button" class="webbutton" id="seedinvbut" onclick="location.href='/Seeds'">View Seed Inventory</button>
                <button type="button" class="webbutton"  onclick="location.href='/Index'">Return to Homepage</button>
            </div>
        </div>
    </div>
</div>