@page
@using SeedLibrary.Models
@model SeedLibrary.Pages.Donations.IndexModel

@{
    ViewData["Title"] = "Donations";
}

<h2>Donations</h2>

<p>
    <a asp-page="Create" class="btn btn-success mb-3">Add New Donation</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Seed Source
            </th>
            <th>
                Seed Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donation[0].Year)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Donation) {
        <tr>
            <td>
                @item.Source.SourceName
            </td>
            <td>
                @item.SeedPacket.VarietyName @item.SeedPacket.Variety.CommonNameName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
        </tr>
}
    </tbody>
</table>